Django==3.2.8
djangorestframework==3.12.4
Pillow==8.4.0
pytils==0.3
MarkupSafe
djoser==2.1.0
colorama==0.4.4
django-filter==21.1
reportlab==3.6.3
drf-extra-fields
psycopg2-binary==2.8.6
gunicorn==20.1.0
python-dotenv